/* reset */

/* just outer white box, not necessary for functionality */
.toggle-checkbox-wrapper {
  padding: 20px;
  padding-right: 60px;
}

/* toggle styling starts here */
/* hide the "default" checkbox/appearance */
.toggle-checkbox {
  display: none;
}

.slider {
  position: relative;
}

/* ellipsis */
.slider::before {
  background: white;
  border-radius: 34px;
  bottom: 0;
  content: '';
  height: 24px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 40px;
  border: 2px solid #dbdbdb;
}

/* circle */
.slider::after {
  background: #43e695;
  border-radius: 50%;
  bottom: 0;
  content: '';
  height: 16px;
  left: 4px;
  margin: auto;
  position: absolute;
  top: 0;
  transition: 0.4s;
  width: 16px;
}

.toggle-checkbox:checked + .slider::before {
  background-color: gray;
}

.toggle-checkbox:checked + .slider::after {
  background-color: #43e695;
  transform: translateX(16px);
}

.toggle-checkbox:checked ~ .slider > .toggle-switch.opt1 {
  display: none;
}

.toggle-checkbox:checked ~ .slider > .toggle-switch.opt2 {
  display: inline-block;
}
